<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/header.ejs %>
  </head>

<body>


<div class="jumbotron">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome recruiter!</h1>
    <p>Sign up:</p>

    <form action="/recruiter/create_account" method="post">
      <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" value="">
        </br>
        <label for="company">Company: </label>
        <input id="company" type="text" name="company" value="">
        </br>
        <label for="role">Role: </label>
        <input id="role" type="text" name="role" value="">
        </br>
        <input type="submit" value="Create recruiter ID">
      </div>
    </form>
</div>
</div>

<script>
  $(document).ready(function(){
    const date_input=$('input[name="date"]'); //our date input has the name "date"
    const container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    const options={
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>


</body>
</html>
