<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Empowering Immuno Workers</h1>
    <a type="button" class="btn btn-lg btn-primary" href="/candidate/signup"><span class="glyphicon glyphicon-flash"></span>I am ready to work</a>
    <a type="button" class="btn btn-lg btn-primary" href="/recruiter/signup"><span class="glyphicon glyphicon-download"></span>We are ready to hire</a>
  </div>
</div>


</body>
</html>
