<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/header.ejs %>
  </head>

<body>


<div class="jumbotron">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome candidate!</h1>
    <p>Sign up:</p>

    <form action="/candidate/create_post" method="post">
      <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" value="">
        </br>
        <label for="age">Birth year: </label>
        <input id="age" type="number" name="age" value="">
        </br>
        <label class="control-label" for="date">When did you recover: </label>
        <input id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
        </br>
        <input type="submit" value="Create candidate ID">
      </div>
    </form>
</div>
</div>

<script>
  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>


</body>
</html>
