<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome candidate! <%= user%></h1>
    <p>Apply jobs here:</p>
</div>
</div>


</body>
</html>
